<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Categorias - Editar</title>
    </head>
    <body>
    	        
    	<div layout:fragment="content">
	        
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Editar Categoria</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form role="form" th:action="@{/categories/{id}(id=${category.id})}" th:object="${category}" method="post">
                  <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Dados Incorretos</p>
                    <!-- text input -->
                    <div class="form-group">
                      <label>Nome</label>
                      <input type="text" class="form-control" name="name" th:field="*{name}" readonly="readonly"/>
                    </div>
                    
                    <div class="form-group">
                      <label>Descrição</label>
                      <textarea class="form-control" rows="3" name="description" th:field="*{description}" placeholder="Enter Category Description"></textarea>
                    </div>
					
					<div class="form-group">
                      <label>Ordem de Mostragem</label>
                      <input type="number" class="form-control" name="displayOrder" th:field="*{displayOrder}" placeholder="Enter display order number"/>
                    </div>
    				
					<div class="box-footer">
	                    <button type="submit" class="btn btn-primary">Enviar</button>
	                </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
    	</div>
    	
    </body>
    
</html>