<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Acesso Protegido</title>
    </head>
    <body>
    	<div layout:fragment="pageHeader">
        <section class="content-header">
        	<h3><i class="fa fa-warning text-red"></i> Você não é autorizado a ver esse conteúdo.</h3>
        </section>
        </div>
    	<div layout:fragment="content">
	        
	        <div>
              
              <p>
                Talvez você queira ir para a <a th:href="@{/home}">Home</a>
              </p>
              
          </div>
          
    	</div>
    	
    </body>
    
</html>