<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/mainOrderConfirmationLayout">
<head>
<title>Order Confirmation</title>
</head>
<body>
	<div layout:fragment="content">
		<script th:inline="javascript">
	/*<![CDATA[*/
		var the_payment_id = [[${order.payment.moipId}]];
	/*]]>*/
	</script>
		<div class="single-product-area">
			<div class="zigzag-bottom"></div>
			<div class="container">
				<div class="row">

					<div class="woocommerce-info col-md-offset-2 col-md-8">
						<div th:unless="${order}" >
							<h2>Pedido não encontrado</h2>
						</div>
						<div th:if="${order}" >
							<h2>
								Número do Pedido : <span th:text="${order.orderNumber}">Number</span>
							</h2>
							<h2>
								Número do Pagamento Moip : <span th:text="${order.payment.moipId}">Number</span>
							</h2>
							<h2 id="status_pedido">O seu pedido está em andamento... em alguns segundos será atualizado.</h2>
							<table class="table">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Quantidade</th>
										<th>Preço</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${order.items}">
										<td th:text="${item.product.name}">product.name</td>
										<td th:text="${item.quantity}"></td>
										<td th:text="${item.price * item.quantity}">price</td>
									</tr>
								</tbody>
								<tfoot>

                                            <tr class="cart-subtotal">
                                                <th>Subtotal do pedido</th>
                                                <td><span class="amount" th:text="${order.totalAmount}">£15.00</span>
                                                </td>
                                            </tr>

                                            <tr class="shipping">
                                                <th>Envio e Entrega</th>
                                                <td>Envio Gratuito</td>
                                            </tr>

                                            <tr class="order-total">
                                                <th>Total do Pedido</th>
                                                <td><strong><span class="amount" th:text="${order.totalAmount}">15.00</span></strong> </td>
                                            </tr>

                                        </tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>